h1 {
    background-color: #667BC6;
    color: #FDFFD2;
    text-align: center;
}
button {
    background-color: #667BC6;
    color: #FDFFD2;
    letter-spacing: 2;
    margin-left: 45%;
}
footer {
    background-color: #667BC6;
    color: #FDFFD2;
    text-align: center;
    font-size: large;
    height: 25;
}
h3 {
    text-align: center;
}
img {
    width: 15%;
    margin-left: 42.5%;
}